<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="MapEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <MapEditor.Properties.Settings>
            <setting name="LastPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastSize" serializeAs="String">
                <value>638, 482</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>128, 0, 0, 0</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAutoMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChipManSplitDistance" serializeAs="String">
                <value>185</value>
            </setting>
            <setting name="LastChipWinSize" serializeAs="String">
                <value>280, 482</value>
            </setting>
            <setting name="lastMapDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="lastImageDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="lastChipDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="EndLineColor" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="DarkenInactiveLayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InactiveLayerAlpha" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="ShowSecondaryGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondaryGridColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="SecondaryGridSize" serializeAs="String">
                <value>5, 5</value>
            </setting>
            <setting name="updated" serializeAs="String">
                <value>False</value>
            </setting>
        </MapEditor.Properties.Settings>
    </userSettings>
</configuration>
