<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoMapChipBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoMapChipBuilder.Properties.Settings>
            <setting name="SaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ChipSize" serializeAs="String">
                <value>16</value>
            </setting>
        </AutoMapChipBuilder.Properties.Settings>
    </userSettings>
</configuration>